.contact-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3,
    p {
        font-weight: bold;
    }

    .edit {
        // border: 1px solid blue;
        box-shadow: 1px 3px 8px 10px sandybrown;
        border-radius: 6px;
        text-align: center;
        font-weight: bold;
        margin-left: 5px;
    }

    img {
        height: 200px;
        width: 200px;
        border-radius: 13px;
    }

    button {
        width: 150px;
        border-radius: 13px;
        font-weight: bold;
    }
}