<section class="contact-preview">
    <section class="info">
        <a routerLink="/contact-details/{{contact._id}}" class="data" (click)="onDetails()">
            <p> {{contact.name}}</p>
        </a>
        <section class="actions">
            <button (click)="onRemoveContact()" class="remove-btn">X</button>
            <a routerLink="/edit/{{contact._id}}" class="edit">Edit</a>
        </section>
    </section>
    <img src="https://i.pravatar.cc/150?u={{contact._id}}" alt="" (click)="onDetails()">
</section>